@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: #1b1b1b;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    color: #fff;
    margin-top: 4vh;
    cursor: pointer;
}

.ver-carrito {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}

.img-slider img {
    height: 720px;
    width: 1080px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

@keyframes slide {
    0% {
        left: 0px;
    }

    15% {
        left: 0px;
    }

    20% {
        left: -1080px;
    }

    32% {
        left: -1080px;
    }

    35% {
        left: -2160px;
    }

    47% {
        left: -2160px;
    }

    50% {
        left: -3240px;
    }

    63% {
        left: -3240px;
    }

    66% {
        left: -4320px;
    }

    79% {
        left: -4320px;
    }

    82% {
        left: -5400px;
    }

    100% {
        left: 0px;
    }
}

.img-slider {
    display: flex;
    float: left;
    position: relative;
    width: 1080px;
    height: 720px;
    animation-name: slide;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    transition-duration: 4s;
}

.section1 {
    width: 1080px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 10px;
}

.card>img {
    width: 150px;
    height: 150px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

/*modal content*/
.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*for the top*/
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #0a0909;
    color: #fff;
    width: 100%;
}

.modal-header-title {
    justify-self: start;
}

.modal-header-button {
    cursor: pointer;
}

.modal-container>.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container>div>img {
    height: 120px;
    width: 120px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.delete-product,
.restar,
.sumar{
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    color: white;
}

.footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 15px;
}

.social-media {
    display: flex;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
}

.social-media a {
    color: white;
    margin: 20px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

.social-media a ion-icon {
    color: white;
    background-color: black;
}

.social-media a:hover ion-icon {
    color: rgb(91, 101, 243);
    transform: translateY(5px);
}

.footer2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
}

.footer0 {
    padding-top: 7px;
    font-weight: 400;
    transition-duration: 1s;
}

.footer0:hover {
    color: rgb(91, 101, 243);
}

.footer2 .heading {
    font-weight: 900;
    font-size: 18px;
}

.footer3 {
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer2 .heading:hover {
    color: rgb(243, 168, 7);
}

.footer2 .div:hover {
    transform: scale(1.05);
}

.footer3 h4 {
    margin: 0 10px;
}

.footer2 div {
    margin: 10px;
}

.menu {
    visibility: hidden;
}

.heading1 .ham:active {
    color: red;
}

.items {
    overflow: hidden;
}

.ham,
.close {
    cursor: pointer;
}

@media screen and (max-width: 1250px) {
    
    .items {
        transform: scale(0.9);
    }

    .img-slider img {
        height: 60vw;
        width: 80vw;
    }
 
    @keyframes slide1 {
        0% {
            left: 0vw;
        }

        15% {
            left: 0vw;
        }

        20% {
            left: -80vw;
        }

        32% {
            left: -80vw;
        }

        35% {
            left: -160vw;
        }

        47% {
            left: -160vw;
        }

        50% {
            left: -240vw;
        }

        63% {
            left: -240vw;
        }

        66% {
            left: -320vw;
        }

        79% {
            left: -320vw;
        }

        82% {
            left: -400vw;
        }

        100% {
            left: 0vw;
        }
    }

    .img-slider {
        display: flex;
        float: left;
        position: relative;
        width: 80%;
        height: 60%;
        animation-name: slide1;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        transition-duration: 2s;
    }

    .section1 {
        width: 80%;
        overflow: hidden;

        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }

    header {
        height: 150px;
    }
}

@media screen and (max-width: 550px) {
    
    header {
        height: 250px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }


}